<div class="container-fluid fill">
  <div class="row fill">
    <div class="col-lg-6 fill text-center gerb">
      <img class="img" src="assets/images/gerb.png" />
      <h1>Gerbs</h1>
      <div ng-repeat="saying in vm.sayings" class="saying">
        ...<span ng-bind-html="saying.gerbMessage"></span>
      </div>
    </div>
    <div class="col-lg-6 fill text-center dawg">
      <img class="img" src="assets/images/dawg.png" />
      <h1>The Big Dawg</h1>
      <div ng-repeat="saying in vm.sayings" class="saying">
        ...<span ng-bind-html="saying.dawgMessage"></span>
      </div>
    </div>
  </div>
</div>
<footer class="">
  <a href="https://twitter.com/danyim">@danyim</a>
</footer>

    <!-- <p class="animated infinite" ng-class="main.classAnimation">
      <button type="button" class="btn btn-lg btn-success" ng-click="main.showToastr()">Splendid Toastr</button>
    </p> -->
      <!-- <acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey> -->

<!--
  <div class="row">
    <div class="col-sm-6 col-md-4" ng-repeat="awesomeThing in main.awesomeThings | orderBy:'rank'">
      <div class="thumbnail">
        <img class="pull-right" ng-src="assets/images/{{ awesomeThing.logo }}" alt="{{ awesomeThing.title }}">
        <div class="caption">
          <h3>{{ awesomeThing.title }}</h3>
          <p>{{ awesomeThing.description }}</p>
          <p><a ng-href="{{awesomeThing.url}}">{{ awesomeThing.url }}</a></p>
        </div>
      </div>
    </div>
  </div> -->
