<div class="container-fluid fill">
  <div class="row ">
    <div class="col-lg-6 text-center gerb">
      <img class="img" src="assets/images/gerb.png" />
      <h1>Gerbs</h1>
    </div>
    <div class="col-lg-6 text-center dawg">
      <img class="img" src="assets/images/dawg.png" />
      <h1>The Big Dawg</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 fill">
      <div class="panel panel-primary">
        <div class="panel-heading">
          Add/Edit Sayings
        </div>
        <div class="panel-body">
          <p>
            This will sync and update automatically as you type. All hail Firebase. The Big Dawg approves. Or be a Gerb and <strong><a ui-sref="home">go back home</a></strong>.
          </p>
          <table class="table table-condensed">
            <thead>
              <th>Things Gerbs would say</th>
              <th>Things The Big Dawg says</th>
              <th></th>
            </thead>
            <tbody>
              <tr class="info">
                <td>
                  <input class="form-control" ng-model="vm.newSaying.gerbMessage" ng-change="vm.sayings.$save()" type="text" placeholder="Gerbs would say..."/>
                </td>
                <td>
                  <input class="form-control" ng-model="vm.newSaying.dawgMessage" ng-change="vm.sayings.$save()" placeholder="The Big Dawg would say..." />
                </td>
                <td>
                  <button class="btn btn-success" ng-click="vm.addSaying()">Add</button>
                </td>
              </tr>
              <tr ng-repeat="saying in vm.sayings">
                <td>
                  <input class="form-control" ng-model="saying.gerbMessage" ng-change="vm.sayings.$save(saying)" type="text"/>
                </td>
                <td>
                  <input class="form-control" ng-model="saying.dawgMessage" ng-change="vm.sayings.$save(saying)" />
                </td>
                <td>
                  <button class="btn btn-danger" ng-click="vm.removeSaying(saying)">Remove</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-lg-6 text-center gerb saying fill">
      <input class="form-control" ng-model="vm.newSaying.gerbMessage" ng-change="vm.sayings.$save()" type="text" placeholder="Gerbs would say..."/>
    </div>
    <div class="col-lg-6 text-center dawg saying fill">
      <input class="form-control" ng-model="vm.newSaying.dawgMessage" ng-change="vm.sayings.$save()" placeholder="The Big Dawg would say..." />
      <button class="btn btn-success" ng-click="vm.addSaying()">Add</button>
    </div>
  </div>
  <div class="row" ng-repeat="saying in vm.sayings">
    <div class="col-lg-6 text-center gerb saying fill">
      <input class="form-control" ng-model="saying.gerbMessage" ng-change="vm.sayings.$save(saying)" type="text"/>
    </div>
    <div class="col-lg-6 text-center dawg saying fill">
      <input class="form-control" ng-model="saying.dawgMessage" ng-change="vm.sayings.$save(saying)" />
      <button class="btn btn-danger" ng-click="vm.removeSaying(saying)">Remove</button>
    </div>
  </div> -->
</div>
