/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$icon-font-path: "../../bower_components/bootstrap-sass/assets/fonts/bootstrap/";

$gerb-color: #6DBCDB;
$dawg-color: #FC4349;
/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

html, body {
  height: 100%;
  background-color: $gerb-color;
}

.fill {
  height: 100%;
}

.img {
  width: 300px;
}

h1 {
  margin-bottom: 0.8em;
}

.right {
  float: right;
  height: 100%;
  width: 50%;
}

.gerb {
  font-family: 'Indie Flower', sans-serif;
  background-color: $gerb-color;
  color: #fff;
  padding-top: 2.0em;
  h1 {
    font-size: 4.0em;
  }
}
.dawg {
  font-family: 'Bevan', sans-serif;
  background-color: $dawg-color;
  color: #fff;
  padding-top: 2.0em;
  h1 {
    font-size: 3.5em;
  }
}

.saying {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  font-weight: normal;
  margin: 2.0em;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0.4em;
  padding: 0.5em 0.5em;
}

.animate-enter {
  -webkit-transition: 1s linear all; /* Chrome */
  transition: 1s linear all;
  opacity: 0;
}

.animate-enter.animate-enter-active {
  opacity: 1;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
