<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-primary" ng-cloak ng-if="vm.isAuthenticated">
      <div class="panel-heading">
        Add/Edit Sayings
      </div>
      <div class="panel-body">
        <p>
          This will sync and update automatically as you type. All hail Firebase. The Big Dawg approves. Or be a gerb and <strong><span ng-click="vm.closeModal()">go back home</span> or <span ng-click="vm.logout()">log out</span></strong>.
        </p>
        <table class="table table-condensed">
          <thead>
            <th>Things gerbs would do</th>
            <th>Things The Big Dawg does</th>
            <th></th>
          </thead>
          <tbody>
            <tr class="info">
              <td>
                <input class="form-control" ng-model="vm.newSaying.gerbMessage" ng-change="vm.sayings.$save()" type="text" placeholder="do things..."/>
              </td>
              <td>
                <input class="form-control" ng-model="vm.newSaying.dawgMessage" ng-change="vm.sayings.$save()" placeholder="does things..." />
              </td>
              <td>
                <button class="btn btn-default" ng-click="vm.addSaying()">Add</button>
              </td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td></td>
            </tr>
            <tr ng-repeat="saying in vm.sayings | orderBy: 'index'">
              <td>
                <input class="form-control" ng-model="saying.gerbMessage" ng-change="vm.sayings.$save(saying)" type="text"/>
              </td>
              <td>
                <input class="form-control" ng-model="saying.dawgMessage" ng-change="vm.sayings.$save(saying)" />
              </td>
              <td>
                <button class="btn btn-default" ng-click="vm.removeSaying(saying)">Remove</button>
                <button class="btn btn-default" ng-click="vm.promoteSaying(saying)" ng-disabled="!vm.allowPromoteDemote === true"><i class="fa fa-arrow-down"></i></button>
                <button class="btn btn-default" ng-click="vm.demoteSaying(saying)" ng-disabled="!vm.allowPromoteDemote === true"><i class="fa fa-arrow-up"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="panel panel-primary" ng-cloak ng-if="!vm.isAuthenticated">
      <div class="panel-heading">
        Enter Password
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <h4 class="text-center">
              <strong><span class="animate" ng-click="vm.randomizePasswordSaying()">{{ vm.passwordSayings[vm.passwordSayingIndex] }}</span></strong>
            </h4>
            <p>&nbsp;</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">

            <form class="form-horizontal">
              <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="inputPassword" ng-model="vm.password" type="text" placeholder="Password" />
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                   <div class="checkbox">
                    <label>
                      <input type="checkbox" ng-checked="vm.rememberPass"> Remember this
                    </label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="submit" class="btn btn-primary" ng-click="vm.authenticate()">Submit</button>
                </div>
              </div>
            </form>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
